/*
	Fuente en general
 */
div.level3 *{
	font-size: 21pt;
}

div.slide {
	padding-left: 5px;
	padding-right: 5px;
}

span.header-section-number {
	display: none;
}

.nota {
	visibility:hidden;
}

/*
	Imágenes centradas
 */
.figure {
	text-align: center;
}

.figure img {
    min-height: 400px;
	max-height: 500px;
    max-width: 800px;
}

/*
	Primera traspa
 */
div.titlepage h1 {
	font-size: 200%;
	text-align: center;
	padding: 30% 1% 15% 1%;
	margin: 5% 0 0 0;
	background-color: #A00D17;
	color: #ffffff;
	background-image: url('../images/informatica.png');
	background-repeat: no-repeat;
	background-position: 50% 90%;
	border-radius: 25px;
}

/*
	Título de cada traspa individual
 */
div.level3 h1{
	background-color: #A00D17;
	padding: 0.5em 75px;
	color: #ffffff;
	margin: 0 0 1em 0;
	background-image: url('../images/ucm.png');
	background-repeat: no-repeat;
	background-position: 5px 50%; 
}

/*
	Título entre traspas
 */
div.titleslide h1 {
	font-size: 200%;
	text-align: center;
	padding: 10% 1% 30% 1%;
	margin: 0 0 0 0;
	background-color: #A00D17;
	color: #ffffff;
	background-image: url('../images/portada.png');
	background-repeat: no-repeat;
	background-size: 100%; 
}

ul {
    margin: 1em 2em;
}
/*
	Para los bloques de citas
 */
blockquote {
    background-color: #EEEEEE;
    border: medium solid #DDDDDD;
    border-radius: 10px;
    font-style: italic;
    padding: 0.2em 0;
    text-align: center;
    margin: 1.5em 2em;
}